.page-title
	height: 75px
	line-height: 75px
	overflow: hidden
	.title-l-1
		float: left
.page-title__prev	
	float: right
	color: #818181 
	font-style: italic
	i
		display: inline-block
		margin-right: 11px
		vertical-align: middle
		+s(arr7)

.page
	padding: 20px 
	margin-bottom: 22px
	background: #fff
	+border-radius(7px) 

.map
	margin: 15px 0 

.page_contacts
	p
		margin-bottom: 16px
		font-size: 13px
		color: #000 
		line-height: 1.2
		span
			font-size: 12px
			color: $gray
			font-style: italic
		a
			color: #000 