// default layout
.sidebar
    float: left
    width: 243px
    

.main-col
    float: right
    width: 723px
    
.col-1,
.col-2,
.col-3,
.col-4
    float: left
    width: 242px 
.col-1_small
    width: 200px